/*  -------------------- CREDITS NOTES ------------------ 
-Reset: Eric Meyer"s Reset Reloaded - thanks, Eric :D -
			 http://meyerweb.com/eric/tools/css/reset/ 
  			 v2.0 | 20110126
  			 License: none (public domain)
------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:focus {
	outline: 0;
}

/* -------------------------------------------------------------
Start Content Styling
------------------------------------------------------------------*/
body {
	color: #000;
	font-family:  Verdana, sans-serif;
	font-size: 100%;
	line-height: 1.4;
}
h1 {
    font-size: 1.7em;
}
h2 {
    font-size: 1.4em;
}
/* -------------------------------------------------------------
Wrap Styling

See what happen to the background color when you delete the overflow: hidden;
------------------------------------------------------------------*/
#wrap {	
    background: #EEEEE7;
    width: 100%;
    height: auto; 
    overflow: hidden;
}

/* -------------------------------------------------------------
header Styling

See what happen when you delete
------------------------------------------------------------------*/
#header {
    background: #ff9900;
    width: 100%;
    height: auto;
    margin: 2em 0 2em 0; 
    padding: 2em;
    text-align: center;
}

/* -------------------------------------------------------------
Nav Styling
Did you see that Nav is 20% of the wrap. And that the padding is in an iside element (ul) of the div
------------------------------------------------------------------*/
#nav {
    background: #242E35;
    float: left;
    width: 20%;
    min-width:150px;
    height: auto;
    margin: ;
}
#nav ul {
    padding: 2em 0 2em 2em;
}
#nav ul li a {
    text-decoration: none;
    color: #fff;
}
/* -------------------------------------------------------------
Content Styling
See what happen when you delete   float: left; and play around with marging and padding.
check the numbers of width, padding and border.

now try this: delete float: left; and try to fix it only with margin or padding. remember the mats ;)
------------------------------------------------------------------*/
#content {
    background: #9EAEB3;
    float: left;
    width: 76%;
    height: auto;
    margin: ;
    padding: 2em 2% 2em 2%;
}

/* -------------------------------------------------------------
footer Styling
Play around, delete or add more parameters.
------------------------------------------------------------------*/
#footer {
    background: #CCDDDD;
    float: left;
    width: 100%;
    height: auto;
    margin: 3em 0;
    padding: 2em 0 2em 0;
    text-align: center;
}